
// complete application color can be handled from this file
$color-red: #FF0000;
$color-green: #7aba00;
$color-green-lite: #c3e09b;
$color-blue: #6c77ae;
$color-blue-lite: #96a0c6;
$color-black: #000000;
$color-grey: #7b7c7c;