<div class="grid--2-5 grid-content">
    <div class="img-style">
        <img [src]="eachItem?.links?.mission_patch" alt=""/>
    </div>
    <div class="grid-style">
        <h3>{{eachItem?.mission_name}}</h3>
        <h4><strong>Mission Ids:</strong><ul>
            <li *ngFor="let eachId of eachItem?.mission_id">{{eachId}}</li>
        </ul></h4>
        <h4><strong>Launch Year:</strong>{{eachItem?.launch_year}}</h4>
        <h4><strong>Successfull Launch:</strong>{{eachItem?.launch_success?'Yes':'No'}}</h4>
        <h4><strong>Successfull Landing:</strong>{{eachItem?.land_success?'Yes':'No'}}</h4>
    </div>
</div>